---
title: Decisions
weight: 30
parent: /decisions
last_reviewed_on: 2021-01-13
review_in: 3 months
---

# Decisions

An Architectural Decision Record (ADR) is a document that captures an important architectural decision made along with its context and consequences.

The ADRs for this service are recorded and shared here:-

| Decision | Status |
|----------|--------|
|[000 - Record Architecture Decisions] (adrs/000-Record-Architecture-Decisions.html) | Approved |
|[001 - Use GitHub Worklow for ADRs] (adrs/001-Use-GitHub-Workflow-for-ADRs.html)| Approved |
|[002 - Programming Language & Framework] (adrs/002-Progamming-Language-and-Framework.html) | Approved |
|[003 - Platform and Hosting](adrs/003-Platform-and-Hosting.html) | Approved |
|[004 - Use Fake Data](adrs/004-Use-Fake-Data.html) | Approved |
|[005 - Monolith First](adrs/005-Monolith-First.html) | Approved |
|[006 - Postcode Lookup](adrs/006-Postcode-Lookup.html) | Approved |
|[007 - Integration Approach](adrs/007-Integration-Approaches.html) | For Review |

<div class="govuk-inset-text">
  It is important to note that this service seeks close alignment with the <a href="https://technical-guidance.education.gov.uk/">
    <span>DfE Technical Guidance</</span></a>.
</div>

<%= partial "partials/links" %>
