---
title: Environments
weight: 25
parent: /environments
last_reviewed_on: 2020-12-17
review_in: 7 weeks
---

# Environments

The following environments have been defined for the needs of the service during Alpha.


## Prototype

__URL__: [Prototype Environment]

The prototype environment shows the deployment process for for the UI prototype through rapid iteration UX prototypes supporting face to face user research sessions

![Prototype](images/UIPrototype.png)

- Developer station, typically a laptop or workstation
- Git client running on the developer station
- GitHub source code repository
- Heroku cloud platform

Once ready, UI prototype code is pushed to GitHub and then pushed to to the Heroku cloud platform from where it is accessed during user research sessions.

## Development

__URL__: [Development Environment]

The development environment shows the deployment process for the Social Worker Recording tool.

![Development](images/DevelopmentEnvironment.png)

* Developer station, typically a laptop or workstation
* Git client running on the developer station
* GitHub source code repository
* Docker Hub container registry
* Gov.UK PaaS cloud platform within the AWS cloud

Once ready, developed code is pushed to the GitHub source code repository in a development code branch and a pull request raised. When changes to the development code branch have been successfully reviewed, the development code branch is merged into the 'main' code branch triggering a 'deploy to Gov.UK PaaS' GitHub Action which manages the required deployment pipeline tasks.

<div class="govuk-inset-text">
  Since the Terraform Infrastructure as Code (IaC) tool is being used to create, or amend, the Gov.UK PaaS cloud infrastructure, the development environment can be spun up and torn down as needs change.
</div>

<%= partial "partials/links" %>
